body {
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-size: 32px;
  margin-bottom: 0;
}
form {
  padding: 0 0 20px 0;
}
ul {
  margin: 0;
  padding: 0 0 20px 0;
}

li {
  color: #808080;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}
.weather-app {
  border: 1px solid #bebebe;
  border-radius: 10px;
  margin: 30px 0 15px 0;
  max-width: 600px;
  padding: 20px;
}
.weather-description {
  float: right;
  margin-right: 15px;
}
.weather-temperature {
  float: left;
}
.weather-temperature img {
  height: 100px;
  margin-right: 5px;
  margin-top: -18px;
  width: 100px;
}
.weather-temperature strong {
  font-size: 70px;
  line-height: 1;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.units {
  font-size: 16px;
  top: -33px;
  position: relative;
}
.units a {
  text-decoration: none;
}
#weather-description {
  text-transform: capitalize;
}
#current-location-button {
  float: right;
  font-size: 14px;
  height: 30px;
  margin-top: -50px;
  padding: 0px 12px;
}
#current-time {
  font-size: 14px;
}
